apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
- infrastructure-namespaces.yaml
- tester-kustomization.yaml
- newapp-kustomization.yaml
